<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<targets>
		<target name="logfile" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Grow">
			<target xsi:type="File"
				fileName="logs/log.txt"
				layout="${longdate} | ${level:uppercase=true} | [TID:${threadid}] | ${logger} | ${callsite} | ${message} ${exception:format=tostring}"
				archiveFileName="logs/archive/log.{#}.txt"
				archiveDateFormat="yyyy-MM-dd"
				archiveNumbering="DateAndSequence"
				archiveOldFileOnStartup="true"
				maxArchiveFiles="50"
				keepFileOpen="true"
				concurrentWrites="false"
				encoding="utf-8" />
		</target>

		<target name="seq" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Grow">
			<target name="seq" xsi:type="Seq"
				serverUrl="http://localhost:5341"
				layout="${longdate} | ${level:uppercase=true} | [TID:${threadid}] | ${logger} | ${callsite} | ${message} ${exception:format=tostring}"/>
		</target>

	</targets>

	<rules>		
		<logger name="*" minlevel="Trace" writeTo="logfile" />		
		<logger name="*" minlevel="Trace" writeTo="seq" />
	</rules>
</nlog>